name: fuzz

on:
  workflow_dispatch: {}
  workflow_run:
    workflows: ["tests"]
    types: [completed]

jobs:
  fuzz:
    runs-on: ubuntu-latest
    if: ${{
          github.event_name == 'workflow_dispatch' ||
          (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success')
        }}
    steps:
      - uses: actions/checkout@v6
      - uses: projectdiscovery/actions/setup/go@v1
      - run: make fuzz
