name: tests

on:
  push:
    branches: ["master"]
    paths:
      - "**.go"
      - "**.mod"
  pull_request:
    paths:
      - "**.go"
      - "**.mod"
  workflow_dispatch: {}

jobs:
  tests:
    strategy:
      matrix:
        go-version: [
          "1.18.0",
          "1.18", "1.19", "1.20", "1.21",
          "1.22", "1.23", "1.24", "1.25",
          "stable"
        ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: projectdiscovery/actions/setup/go@v1
        with:
          go-version: "${{ matrix.go-version }}"
      - run: make tests

  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: projectdiscovery/actions/setup/go@v1
        with:
          go-version: "stable"
      - run: make bench
